@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1A202C;
  --foreground: #FFFFFF;
  --themePink: #FCA5A5;
  --themeGray: #D1D5DB;
}

@media (prefers-color-scheme: dark) {
  :root {
    --: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
